1. Data Loading and Initial Inspection

The raw datasets were loaded using Pandas. An initial inspection was conducted to understand the structure, size, and overall quality of the data.

In [ ]:
#Importing Libraries

import pandas as pd
import numpy as np

# Read data
coffee_raw = pd.read_csv("C:\\SAIT\\DATA406CAPSTONE\\DATA\synthetic_coffee_health_10000.csv")

#Get details/Description
coffee_raw.head()
coffee_raw.info()
coffee_raw.describe(include="all")

#These steps helped identify potential data quality issues such as missing values, incorrect data types, and redundant columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   Age                      10000 non-null  int64
 2   Gender                   10000 non-null  object
 3   Country                  10000 non-null  object
 4   Coffee_Intake            10000 non-null  float64
 5   Caffeine_mg              10000 non-null  float64
 6   Sleep_Hours              10000 non-null  float64
 7   Sleep_Quality            10000 non-null  object
 8   BMI                      10000 non-null  float64
 9   Heart_Rate               10000 non-null  int64
 10  Stress_Level             10000 non-null  object
 11  Physical_Activity_Hours  10000 non-null  float64
 12  Health_Issues            4059 non-null   object
 13  Occupation               10000 non-null  object
 14  Smoking                  10000 non-null  int64
 15  Alcohol_Consumption      10000 non-null  int64
dtypes: float64(5), int64(5), object(6)
memory usage: 1.2+ MB

<>:7: SyntaxWarning: invalid escape sequence '\s'
<>:7: SyntaxWarning: invalid escape sequence '\s'
C:\Users\PC\AppData\Local\Temp\ipykernel_34188\2455813736.py:7: SyntaxWarning: invalid escape sequence '\s'
  coffee_raw = pd.read_csv("C:\\SAIT\\DATA406CAPSTONE\\DATA\synthetic_coffee_health_10000.csv")

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
count,10000.00000,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000,10000.000000,10000.000000,10000,10000.00000,4059,10000,10000.00000,10000.000000
unique,NaN,NaN,3,20,NaN,NaN,NaN,4,NaN,NaN,3,NaN,3,5,NaN,NaN
top,NaN,NaN,Female,Canada,NaN,NaN,NaN,Good,NaN,NaN,Low,NaN,Mild,Office,NaN,NaN
freq,NaN,NaN,5001,543,NaN,NaN,NaN,5637,NaN,NaN,6989,NaN,3579,2073,NaN,NaN
mean,5000.50000,34.949100,NaN,NaN,2.509230,238.411010,6.636220,NaN,23.986860,70.617800,NaN,7.48704,NaN,NaN,0.20040,0.300700
std,2886.89568,11.160939,NaN,NaN,1.450248,137.748815,1.222055,NaN,3.906411,9.822951,NaN,4.31518,NaN,NaN,0.40032,0.458585
min,1.00000,18.000000,NaN,NaN,0.000000,0.000000,3.000000,NaN,15.000000,50.000000,NaN,0.00000,NaN,NaN,0.00000,0.000000
25%,2500.75000,26.000000,NaN,NaN,1.500000,138.750000,5.800000,NaN,21.300000,64.000000,NaN,3.70000,NaN,NaN,0.00000,0.000000
50%,5000.50000,34.000000,NaN,NaN,2.500000,235.400000,6.600000,NaN,24.000000,71.000000,NaN,7.50000,NaN,NaN,0.00000,0.000000
75%,7500.25000,43.000000,NaN,NaN,3.500000,332.025000,7.500000,NaN,26.600000,77.000000,NaN,11.20000,NaN,NaN,0.00000,1.000000
max,10000.00000,80.000000,NaN,NaN,8.200000,780.300000,10.000000,NaN,38.200000,109.000000,NaN,15.00000,NaN,NaN,1.00000,1.000000

2. Handling Missing Values

Missing values were assessed using the .isna().sum() method across all variables. The inspection revealed that missing values were either minimal or limited to non-critical fields.

Given the low proportion of missing data and to avoid unnecessary data loss or bias, the dataset was retained without aggressive imputation. This decision ensured the integrity of the original observations while preserving sufficient data for analysis.

In [2]:
coffee_raw.isna().sum()

ID                            0
Age                           0
Gender                        0
Country                       0
Coffee_Intake                 0
Caffeine_mg                   0
Sleep_Hours                   0
Sleep_Quality                 0
BMI                           0
Heart_Rate                    0
Stress_Level                  0
Physical_Activity_Hours       0
Health_Issues              5941
Occupation                    0
Smoking                       0
Alcohol_Consumption           0
dtype: int64

In [3]:
coffee_raw.shape

(10000, 16)

3. Removal of Non-Analytical Columns

During data loading, an extraneous column generated during CSV export (Health issues) was removed, as it represented an index column and did not contain analytical information.

In [6]:
coffee_raw=coffee_raw.drop(columns=["Health_Issues"])

4. Duplicate Record Validation

To ensure record uniqueness, duplicate checks were performed using the unique identifier column (ID).

In [8]:
coffee_raw["ID"].duplicated().sum()

np.int64(0)

In [ ]:
#No duplicate records were identified based on the primary key. As a result, no duplicate removal was required, confirming the dataset’s reliability at the record level.

5. Categorical Data Type Conversion

To improve data consistency and prepare the dataset for analysis, selected columns containing categorical information were explicitly converted to the category data type.

The columns Gender, Country, Sleep_Quality, Stress_Level, and Occupation were identified as categorical variables based on their descriptive nature. Each of these columns was converted from their original data type (e.g., object or string) to Pandas’ category type.

This conversion helps:

Improve memory efficiency

Clearly distinguish categorical variables from numerical variables

Prepare the dataset for grouping, aggregation, and categorical analysis

Finally, .info() was used to verify that the data type conversions were successfully applied.

In [10]:
cat_cols = [
    "Gender",
    "Country",
    "Sleep_Quality",
    "Stress_Level",
    "Occupation"]

for col in cat_cols:
    coffee_raw[col] = coffee_raw[col].astype("category")

coffee_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   Age                      10000 non-null  int64
 2   Gender                   10000 non-null  category
 3   Country                  10000 non-null  category
 4   Coffee_Intake            10000 non-null  float64
 5   Caffeine_mg              10000 non-null  float64
 6   Sleep_Hours              10000 non-null  float64
 7   Sleep_Quality            10000 non-null  category
 8   BMI                      10000 non-null  float64
 9   Heart_Rate               10000 non-null  int64
 10  Stress_Level             10000 non-null  category
 11  Physical_Activity_Hours  10000 non-null  float64
 12  Occupation               10000 non-null  category
 13  Smoking                  10000 non-null  int64
 14  Alcohol_Consumption      10000 non-null  int64
dtypes: category(5), float64(5), int64(5)
memory usage: 831.6 KB

In [11]:
coffee_raw[["Age", "Coffee_Intake", "Caffeine_mg",
        "Sleep_Hours", "BMI", "Heart_Rate",
        "Physical_Activity_Hours"]].describe()

,Age,Coffee_Intake,Caffeine_mg,Sleep_Hours,BMI,Heart_Rate,Physical_Activity_Hours
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,34.949100,2.509230,238.411010,6.636220,23.986860,70.617800,7.48704
std,11.160939,1.450248,137.748815,1.222055,3.906411,9.822951,4.31518
min,18.000000,0.000000,0.000000,3.000000,15.000000,50.000000,0.00000
25%,26.000000,1.500000,138.750000,5.800000,21.300000,64.000000,3.70000
50%,34.000000,2.500000,235.400000,6.600000,24.000000,71.000000,7.50000
75%,43.000000,3.500000,332.025000,7.500000,26.600000,77.000000,11.20000
max,80.000000,8.200000,780.300000,10.000000,38.200000,109.000000,15.00000

6.Anomaly Detection Using Rule-Based Thresholds

This step identifies potentially anomalous records in the dataset by applying predefined logical conditions to key numerical variables.

In [12]:
Anomaly = coffee_raw[
    (coffee_raw["Age"] < 18) | (coffee_raw["Age"] > 90) |
    (coffee_raw["Sleep_Hours"] < 3) | (coffee_raw["Sleep_Hours"] > 15) |
    (coffee_raw["Heart_Rate"] < 40) | (coffee_raw["Heart_Rate"] > 200)
]

Anomaly.head()
len(Anomaly)

0

In [13]:
coffee_raw.isna().sum()

ID                         0
Age                        0
Gender                     0
Country                    0
Coffee_Intake              0
Caffeine_mg                0
Sleep_Hours                0
Sleep_Quality              0
BMI                        0
Heart_Rate                 0
Stress_Level               0
Physical_Activity_Hours    0
Occupation                 0
Smoking                    0
Alcohol_Consumption        0
dtype: int64

7.Age Group Feature Engineering

This step creates a new categorical variable (AgeGroup) by binning the continuous Age variable into predefined age ranges.

In [ ]:
bins = [0, 34, 49, 64, np.inf]
labels = ["18-34", "35-49", "50-64", "65+"]

coffee_raw["AgeGroup"] = pd.cut(coffee_raw["Age"], bins=bins, labels=labels, right=True)

coffee_raw["AgeGroup"].value_counts()

AgeGroup
18–34    5008
35–49    3932
50–64     992
65+        68
Name: count, dtype: int64

8.Coffee Intake Level Feature Engineering

This step transforms the continuous Coffee_Intake variable into a categorical feature representing consumption intensity.

In [15]:
coffee_bins = [0, 1, 3, 5, np.inf]
coffee_labels = ["0-1 cups", "1-3 cups", "3-5 cups", "5+ cups"]

coffee_raw["Coffee_Level"] = pd.cut(
    coffee_raw["Coffee_Intake"],
    bins=coffee_bins,
    labels=coffee_labels,
    right=True,
    include_lowest=True
)

coffee_raw["Coffee_Level"].value_counts()

Coffee_Level
1-3 cups    4800
3-5 cups    3034
0-1 cups    1702
5+ cups      464
Name: count, dtype: int64

9. Exploratory Aggregation and Proportional Analysis

This step performs exploratory analysis to examine relationships between age groups, coffee consumption levels, heart rate, and gender.

In [16]:
# Age group vs Coffee_Level
pd.crosstab(coffee_raw["AgeGroup"], coffee_raw["Coffee_Level"], normalize="index").round(2)


# Mean heart rate by coffee level and gender
coffee_raw.groupby(["Coffee_Level", "Gender"])["Heart_Rate"].mean()

C:\Users\PC\AppData\Local\Temp\ipykernel_34188\2605564675.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  coffee_raw.groupby(["Coffee_Level", "Gender"])["Heart_Rate"].mean()

Coffee_Level  Gender
0-1 cups      Female    69.747073
              Male      69.344486
              Other     67.439024
1-3 cups      Female    70.442243
              Male      70.641225
              Other     69.871560
3-5 cups      Female    71.248072
              Male      71.091102
              Other     72.112903
5+ cups       Female    73.031963
              Male      70.891775
              Other     71.285714
Name: Heart_Rate, dtype: float64

10. Exporting the Cleaned Dataset

After completing the cleaning and preparation steps, the finalized dataset was exported to a CSV file for reuse in subsequent analysis phases.

In [17]:

coffee_raw.to_csv("C:\\SAIT\\DATA406capstone\\DATA\\Coffee_Conspt_Cleaned.csv", index=False)

In [23]:
import pandas as pd

# Load cleaned files

coffee = pd.read_csv("C:\\SAIT\\DATA406capstone\\DATA\\Coffee_Conspt_Cleaned.csv")
heart  = pd.read_csv("C:\\SAIT\\DATA406capstone\\DATA\\Heart_R8_Cleaned.csv")
heart_risk = pd.read_csv("C:\\SAIT\\DATA406capstone\\DATA\\Heart_risk_by_agegroup.csv")

heart_risk=heart_risk.drop(columns=["Unnamed: 0"])


coffee.head()
heart_risk.head()

  AgeGroup  HeartDisease_Rate
0    18–34           0.285714
1    35–49           0.388889
2    50–64           0.620229
3      65+           0.699029

In [26]:
heart.head()

,Unnamed: 0,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,AgeGroup,HeartDisease_num,z_Age,z_RestingBP,z_Cholesterol,z_MaxHR,z_Oldpeak
0,1,40,M,ATA,140,289,No,Normal,172,No,0.0,Up,No,35–49,0,-1.466511,0.418779,0.974899,1.464839,-0.929506
1,2,49,F,NAP,160,180,No,Normal,156,No,1.0,Flat,Yes,35–49,1,-0.366923,1.432892,-1.233935,0.445053,0.346013
2,3,37,M,ATA,130,283,No,ST,98,No,0.0,Up,No,35–49,0,-1.785732,-0.149044,0.856784,-1.412390,-0.929506
3,4,48,F,ASY,138,214,No,Normal,108,Yes,1.5,Flat,Yes,35–49,1,-0.471992,0.298441,-0.677014,-1.721510,0.868553
4,5,54,M,NAP,150,195,No,Normal,122,No,0.0,Up,No,50–64,0,0.023189,0.986602,-0.875574,-0.479234,-0.929506

In [24]:
coffee["AgeGroup"].value_counts()
heart_risk["AgeGroup"].value_counts()

AgeGroup
18–34    1
35–49    1
50–64    1
65+      1
Name: count, dtype: int64

In [27]:
coffee = coffee.merge(heart_risk, on="AgeGroup", how="left")
coffee.head()
coffee

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Occupation,Smoking,Alcohol_Consumption,AgeGroup,Coffee_Level,HeartDisease_Rate_x,HeartDisease_Rate_y
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,Other,0,0,35–49,3-5 cups,0.388889,0.388889
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,Service,0,0,18–34,0-1 cups,0.285714,0.285714
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Office,0,0,35–49,5+ cups,0.388889,0.388889
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Other,0,0,50–64,1-3 cups,0.620229,0.620229
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Student,0,1,18–34,3-5 cups,0.285714,0.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Healthcare,0,1,50–64,1-3 cups,0.620229,0.620229
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Service,0,0,18–34,3-5 cups,0.285714,0.285714
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,Student,1,1,18–34,1-3 cups,0.285714,0.285714
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,Student,0,0,35–49,3-5 cups,0.388889,0.388889
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,Student,1,0,35–49,1-3 cups,0.388889,0.388889